body {
    margin: 0;
}

.interface {
    display: flex;
}

#functions {
    flex: 0 0 200px;
}

#functions textarea {
    font-family: monospace;
    height: 5em;
    width: 20em;
}

#functions textarea.error {
    border: solid 1px red;
}

#graph {
    flex-grow: 1;
    position: relative;
}

#graph canvas {
    height: 100%;
    width: 100%;
}

#graph input {
    background-color: rgba(255,255,255,.5);
    border: 0;
    font-family: monospace;
    height: 2em;
    opacity: .2;
    position: absolute;
    text-align: center;
    width: 4em;
}

#graph:hover input {
    opacity: 1;
}

#graph input[name=x1] {
    left: 0;
    top: 2.5em;
}

#graph input[name=x2] {
    bottom: 2.5em;
    right: 0;
}

#graph input[name=y1] {
    left: 4.5em;
    top: 0;
}

#graph input[name=y2] {
    bottom: 0;
    right: 4.5em;
}
